/*.color1 { #4f6e93 };
.color2 { #3c5e82 };
.color3 { #284f71 };
.color4 { #153f60 };
.color5 { #012f4f };*/



body{
   margin: 0%;
 }
 
 a{
   color: black;
   text-decoration: none;
 }

 @font-face {
     font-family: novafonte;
     src: url('/font/FrutigerLTStd-BlackCn.otf');
 }


#barranav{
   background-color: #153f60;
}
.ttls{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 550px;
   list-style-type: none;
}


.container {
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
   margin: 10px;
   transition: transform 0.2s, box-shadow 0.2s;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.container:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.inner-container {
   background-color: #f8f9fa;
   border: 1px solid #dee2e6;
   border-radius: 5px;
   padding: 20px;
   transition: transform 0.2s, box-shadow 0.2s;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inner-container:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.inner-container h5 {
   font-size: 18px;
   margin-bottom: 10px;
}

.inner-container p {
   font-size: 14px;
   line-height: 1.5;
}


.custom-container {
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
   margin: 10px;
   transition: transform 0.2s, box-shadow 0.2s;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.custom-container:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.custom-inner-container {
   background-color: #f8f9fa;
   border: 1px solid #dee2e6;
   border-radius: 5px;
   padding: 20px;
   transition: transform 0.2s, box-shadow 0.2s;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-inner-container:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-inner-container h5 {
   font-size: 18px;
   margin-bottom: 10px;
}

.custom-inner-container p {
   font-size: 14px;
   line-height: 1.5;
}

#container{
   margin-top: 105px;
   height: 605px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 

}

#container8 {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   margin: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s, box-shadow 0.2s;
}

#container8:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para a seção de repositórios */
#repositorios {
   margin-top: 50px;
}

#repositorios h2 {
   margin-bottom: 20px;
   color: #007bff; /* Azul */
}

.repo-container {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s, box-shadow 0.2s;
}

.repo-container:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#buttonMenu{
   background-color: #153f60;
}


#rodapeFin{
   background-color: #153f60;
}
